server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:15432/wedding_invite
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,info

    logging:
      level:
        org.springframework.security: DEBUG

security:
  user:
    name: admin
    password: admin

